body {
    padding: 0;
    margin: 0;
}

svg {
    display: block;
}

.game {
    height: 100vh;
    width: 100vw;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
}

.cards {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cards.pause_game {
    pointer-events: none;
}

.card {
    position: relative;
    cursor: pointer;
}

.card.flipped .back_card, .card.find_match .back_card {
    transform: rotateX(180deg);
}

.card.flipped .front_card, .card.find_match .front_card {
    transform: rotateX(360deg);
}

.card.flipped, card.find_match {
    pointer-events: none;
}

.graphics {
    display: none;
}

.back_card, .front_card {
    backface-visibility: hidden;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: transform 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_card {
    background: darkslategray;
    z-index: 1;
}

.front_card {
    background: orange;
}

/*@media (max-width: 1350px) {*/
/*    .cards {*/
/*        grid-gap: 12px;*/
/*        margin-top: 0;*/
/*    }*/
/*    .game .card {*/
/*        width: 12vh;*/
/*        height: 12vh;*/
/*    }*/
/*}*/

/*@media (max-width: 1100px) {*/
/*    .cards {*/
/*        grid-gap: 10px;*/
/*    }*/
/*    .game .card {*/
/*        width: 10vh;*/
/*        height: 10vh;*/
/*    }*/
/*}*/

/*@media (max-width: 950px) {*/
/*    .cards {*/
/*        grid-gap: 8px;*/
/*    }*/
/*    .game .card {*/
/*        width: 8vh;*/
/*        height: 8vh;*/
/*    }*/
/*}*/

/*@media (max-width: 800px) {*/
/*    .cards {*/
/*        grid-gap: 7px;*/
/*        grid-template-columns: repeat(5, 1fr);*/
/*    }*/

/*    .game .card {*/
/*        width: 7vh;*/
/*        height: 7vh;*/
/*    }*/
/*}*/